<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlDr9iDfLnmEMraCAmJT1e3xhjyKZemCI</string>
	<key>GCM_SENDER_ID</key>
	<string>586406917964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.justTickets</string>
	<key>PROJECT_ID</key>
	<string>just-tickets-4d084</string>
	<key>STORAGE_BUCKET</key>
	<string>just-tickets-4d084.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586406917964:ios:c2fec568d22de36bd381e9</string>
</dict>
</plist>